<style>
 .sticker_block{
  margin: auto;
  width: 600px;
 }

 .sticker_block dl{
  display: flex;
  margin-bottom: 25px;
 }

 .sticker_block dt{
  margin-right: 25px;
 }

 .sticker_block dt img{
width: 60px;
 }
</style>



 <div class="manual_icon">

 <h2>アイコンのはなし</h2>


 <div class="sticker_block">


  <dl>
   <dt>
    <img src="{{ asset('images/ico-have-off.svg') }}" type="image/svg+xml">
   </dt>
   <dd>
    「このギア持ってる！！」と思ったら押してください。<br>
    ギアページではそのギアをどのくらいの人が持っているか数字で確認できます。<br>
    もし、「あ、やっぱ持ってないやつだ。」と、なりましたらもう一度押してくだい。カウントがキャンセルされます。<br>
   </dd>
  </dl>

  <dl>
   <dt>
    <img src="{{ asset('images/ico-want-off.svg') }}" type="image/svg+xml">
   </dt>
   <dd>
    「このギア持ってる！！」と思ったら押してください。<br>
    ギアページではそのギアをどのくらいの人が持っているか数字で確認できます。<br>
    もし、「あ、やっぱ持ってないやつだ。」と、なりましたらもう一度押してくだい。カウントがキャンセルされます。<br>
   </dd>
  </dl>

  <dl>
   <dt>
    <img src="{{ asset('images/ico-sale.svg') }}" type="image/svg+xml">
   </dt>
   <dd>
    基本的にはそのギアで今現在いくつの出品があるかを数字で表しています。<br>
    <br>
   </dd>
  </dl>


  <dl>
   <dt>
    <img src="{{ asset('images/ico-pick-off.svg') }}" type="image/svg+xml">
   </dt>
   <dd>
    「この投稿気になる」とか「これは後で見返そう」など気になったときに押してください。<br>
    このアイコンを押すと「コンテナ」と呼ばれるlogを入れておく箱のようなものに入れて整理できます。<br>
    「コンテナ」は自分で分かり易い名前をつけるといいです。じゃないと何入ってるか分からなくなっちゃうので。
   </dd>
  </dl>


  <dl>
   <dt>
    <img src="{{ asset('images/ico-ban-off.svg') }}" type="image/svg+xml">
   </dt>
   <dd>
「明らかに違反しているぞ！」「これってちょっと問題ありじゃないか？」などと思った時に押して運営へ報告していただくボタンです。<br>
  運営だけで目が届かなかったものを拾って報告していただけると大変ありがたいです。
   </dd>
  </dl>


  <dl>
   <dt>
    <img src="{{ asset('images/ico-more.svg') }}" type="image/svg+xml">
   </dt>
   <dd>

   </dd>
  </dl>


  <dl>
   <dt>
    <img src="{{ asset('images/ico-comment-off.svg') }}" type="image/svg+xml">
   </dt>
   <dd>
    その写真記事に対してコメントするときに押してください。<br>
    また、取引時には相手ユーザーとの連絡ツールとして使います。
   </dd>
  </dl>


 </div><!--//sticker_block-->


</div><!--//manual_icon-->
