<div class="article">
 <article class="gear_artilce">
  <div class="article-header">

   <div class="gear_name">
    <p class="brand_name">C&C.P.H.EQUIPEMENT</p><!--//brand_name-->
    <h1 class="card_name"><a href="">コンパクトチェアカバー カモ×デニム</a></h1><!--//card_name-->
    <p class="sale_flag button btn_size-S">sale</p>
   </div><!-- /.giear_name -->
   <div class="status_icon set_5p common_bottom">
    <div>
     <img src="{{ asset('images/ico-have-off.svg') }}" type="image/svg+xml">
     <span class="count">100K</span>
    </div>

    <div>
     <img src="{{ asset('images/ico-want-off.svg') }}" type="image/svg+xml">
     <span class="count">100K</span>
    </div>

    <div>
     <a data-remodal-target="ClipToContainer">
      <img src="{{ asset('images/ico-pick-off.svg') }}" type="image/svg+xml">
     </a>
     <span class="count">100K</span>
    </div>

    <div>
     <img src="{{ asset('images/ico-share-off.svg') }}" type="image/svg+xml">
     <span class="count"></span>
    </div>

    <div data-remodal-target="Ban">
     <img src="{{ asset('images/ico-ban-off.svg') }}" type="image/svg+xml">
    </div>
   </div><!--//status_icon-->
  </div><!-- /.article-header -->

  <section>
   <header>
    <h2 class="title">Blogタイトル　冬キャンプからの凍死（冬眠失敗時における言い訳の考察）</h2>
    <time>2016.10.23</time>
   </header>

   <div class="paragraph">
    <div class="article_img">
     <img src="http://placehold.it/1280x960" alt="">
    </div><!--//article_img-->
    <p>
     STAR WARS EPISODE IV A NEW HOPE<br>
     <b>日付単位では新しい日付が上にくる</b><br>
     遠い昔、はるか彼方の銀河系で…<br>
     ジェダイ騎士団と共和国が滅亡して久しい時代、かつて平和だった銀河系は銀河帝国による圧政下にあった。そんな中、反乱同盟軍のスパイが帝国の誇る最終兵器であり宇宙要塞であるデス・スターの極秘設計図を密かに盗み出す事に成功した。銀河帝国皇帝ダース・シディアスが最も信頼を置くシスの暗黒卿ダース・ベイダーは、設計図奪還と同盟軍本拠地の早期発見を命じられる。<br>
     同盟軍の指導者の一人レイア・オーガナ姫はオルデランへ帰還の途上だったが、帝国軍のスターデストロイヤーに襲撃され輸送船は拿捕される。激しい戦闘の最中、レイアは養父の友人のオビ＝ワン・ケノービに助けを求めるべく、ドロイドのR2-D2に救援メッセージとデス・スターの設計図を託し、R2-D2は相棒のC-3POと共に船から脱出する事に成功する。<br>
     R2と3POは砂漠の惑星タトゥイーンに漂着する。原住生物ジャワに捕獲されてバザーに出された2体は、オーウェンとベルーのラーズ夫妻と甥の農場手伝いの青年ルーク・スカイウォーカーに購入された。ルークによって整備されたR2はふとした拍子にレイアのメッセージを再生してしまう。R2は夜中にラーズ家を抜け出し単身でオビ＝ワンにそのメッセージを届けようとするが、後を追ったルークらと共に野盗タスケン・レイダーの襲撃に遭い、近所に住む老人ベン・ケノービに助けられる。<br>
     ベンこそが、名を変えて隠遁していたジェダイの騎士オビ＝ワン・ケノービであった。オビ＝ワンはルークらを自宅へ招くと、ルークに彼の父アナキンのライトセーバーを渡し、自身とアナキン、そしてジェダイを裏切り多くの騎士を殺害したダース・ベイダーの過去を話す。そしてレイアのメッセージを受けて、彼女の故郷の惑星オルデランへの旅へルークを誘うが、ルークは叔父が許してくれないと断り、オビ＝ワンをアンカーヘッドの街まで送ろうとする。その途中、ルークらはドロイドを売ったジャワ達が帝国軍に襲撃された現場を見てラーズ家の危機を察知し農場へ駆け戻るが、時既に遅くオーウェンとベルーは帝国軍に無残に殺害され、農場は焼き払われていた。もはやタトゥイーンに留まる理由を無くしたルークは、父のようにジェダイの騎士になる事を誓って、オビ＝ワンとオルデランへ行く事を決意する。一行はモス・アイズリー宇宙港で密輸商人のハン・ソロとチューバッカを雇い、彼らの宇宙船ミレニアム・ファルコンで帝国軍の追跡を振り切ってオルデランへ向かう。<br>
     同じ頃、帝国軍に囚われの身であったレイアは執拗な尋問にも頑強に抵抗していた。業を煮やしたデススター司令官ターキン総督は、反乱軍の秘密基地の所在を吐かねば故郷オルデランを破壊すると脅し、レイアはやむなく既に放棄された反乱軍の基地の所在を教えるが、ターキンは見せしめとしてオルデランをデススターの究極兵器・スーパーレーザーによって破壊してしまう。その瞬間、ミレニアム・ファルコン内でルークにフォースを教えていたオビ＝ワンはフォースに異常な乱れが起きた事を感じた。彼らが到着した時には既にオルデランは星屑と化しており、付近にあったデス・スターを衛星だと勘違いしていた一行は、トラクター・ビームによって捕らえられてしまう。<br>
     ルークたちはファルコン号の二重床を使ってストームトルーパーの装甲服を奪って変装し、管制室へ逃れる。R2にデス・スターのコンピューターから情報を引き出させ、トラクター・ビームは複数の電源のうち1つを切るだけで停止することを知ると、オビ＝ワンは一人で電源を切りに向かった。その後、R2の解析によりレイアがここに監禁されている事が分かり、ルークはソロとチューバッカを説得し救出に向かう。帝国軍の猛追を受けながらも三人はレイアの救出に成功、ファルコン号へと急ぐ。トラクタービームの電源を切り終えてきたオビ＝ワンは、ファルコン号の目前でベイダーと再会、ライトセーバーを交える。ファルコン号へ乗り込もうとするルーク達を見たオビ＝ワンは突然何かを悟ったかのようにライトセーバーを収める。直後、ベイダーのライトセーバーがオビ＝ワンのローブを切り払うが、そこにオビ＝ワンの死体はなかった。<br>
     TIEファイターの追撃を振り切り、ミレニアム・ファルコンはレイア姫の案内で反乱同盟軍の基地のあるヤヴィン第4衛星へたどり着く。デス・スターの設計図からは「反応炉の排熱口が地表に直結している」という構造上の弱点が判明し、その排熱口よりプロトン魚雷を撃ち込んで反応炉を破壊する作戦が立案される。その頃、ファルコン号に追跡装置を仕掛けておいた帝国軍はヤヴィン第4衛星の基地の存在を突き止め、デス・スターの圧倒的な力をもってヤヴィン第4衛星ごと破壊せんとする。ルークはスクランブルする反乱軍の戦闘機隊に加わりパイロットとして戦場へ向かうが、礼金を受け取ったソロとチューバッカは早々に基地を立ち去ろうとする。<br>
     帝国軍と同盟軍の雌雄を賭けた戦いが今始まろうしていた…。
    </p>
   </div>
   <!-- /.paragraph -->

  </section>

  <section>
   <header>
    <h2 class="title">Blogタイトル　秋キャンプからの孤独死</h2>
    <time>2016.08.30</time>
   </header>

   <div class="paragraph">
    <div class="article_img">
     <img src="http://placehold.it/640x480" alt="">
    </div><!--//article_img-->
    <p>
     STAR WARS EPISODE IV A NEW HOPE<br>
     <b>段落登録順に上から表示</b><br>
     遠い昔、はるか彼方の銀河系で…<br>
     ジェダイ騎士団と共和国が滅亡して久しい時代、かつて平和だった銀河系は銀河帝国による圧政下にあった。そんな中、反乱同盟軍のスパイが帝国の誇る最終兵器であり宇宙要塞であるデス・スターの極秘設計図を密かに盗み出す事に成功した。銀河帝国皇帝ダース・シディアスが最も信頼を置くシスの暗黒卿ダース・ベイダーは、設計図奪還と同盟軍本拠地の早期発見を命じられる。<br>
     同盟軍の指導者の一人レイア・オーガナ姫はオルデランへ帰還の途上だったが、帝国軍のスターデストロイヤーに襲撃され輸送船は拿捕される。激しい戦闘の最中、レイアは養父の友人のオビ＝ワン・ケノービに助けを求めるべく、ドロイドのR2-D2に救援メッセージとデス・スターの設計図を託し、R2-D2は相棒のC-3POと共に船から脱出する事に成功する。<br>
     R2と3POは砂漠の惑星タトゥイーンに漂着する。原住生物ジャワに捕獲されてバザーに出された2体は、オーウェンとベルーのラーズ夫妻と甥の農場手伝いの青年ルーク・スカイウォーカーに購入された。ルークによって整備されたR2はふとした拍子にレイアのメッセージを再生してしまう。R2は夜中にラーズ家を抜け出し単身でオビ＝ワンにそのメッセージを届けようとするが、後を追ったルークらと共に野盗タスケン・レイダーの襲撃に遭い、近所に住む老人ベン・ケノービに助けられる。<br>
     ベンこそが、名を変えて隠遁していたジェダイの騎士オビ＝ワン・ケノービであった。オビ＝ワンはルークらを自宅へ招くと、ルークに彼の父アナキンのライトセーバーを渡し、自身とアナキン、そしてジェダイを裏切り多くの騎士を殺害したダース・ベイダーの過去を話す。そしてレイアのメッセージを受けて、彼女の故郷の惑星オルデランへの旅へルークを誘うが、ルークは叔父が許してくれないと断り、オビ＝ワンをアンカーヘッドの街まで送ろうとする。その途中、ルークらはドロイドを売ったジャワ達が帝国軍に襲撃された現場を見てラーズ家の危機を察知し農場へ駆け戻るが、時既に遅くオーウェンとベルーは帝国軍に無残に殺害され、農場は焼き払われていた。もはやタトゥイーンに留まる理由を無くしたルークは、父のようにジェダイの騎士になる事を誓って、オビ＝ワンとオルデランへ行く事を決意する。一行はモス・アイズリー宇宙港で密輸商人のハン・ソロとチューバッカを雇い、彼らの宇宙船ミレニアム・ファルコンで帝国軍の追跡を振り切ってオルデランへ向かう。<br>
     同じ頃、帝国軍に囚われの身であったレイアは執拗な尋問にも頑強に抵抗していた。業を煮やしたデススター司令官ターキン総督は、反乱軍の秘密基地の所在を吐かねば故郷オルデランを破壊すると脅し、レイアはやむなく既に放棄された反乱軍の基地の所在を教えるが、ターキンは見せしめとしてオルデランをデススターの究極兵器・スーパーレーザーによって破壊してしまう。その瞬間、ミレニアム・ファルコン内でルークにフォースを教えていたオビ＝ワンはフォースに異常な乱れが起きた事を感じた。彼らが到着した時には既にオルデランは星屑と化しており、付近にあったデス・スターを衛星だと勘違いしていた一行は、トラクター・ビームによって捕らえられてしまう。<br>
     ルークたちはファルコン号の二重床を使ってストームトルーパーの装甲服を奪って変装し、管制室へ逃れる。R2にデス・スターのコンピューターから情報を引き出させ、トラクター・ビームは複数の電源のうち1つを切るだけで停止することを知ると、オビ＝ワンは一人で電源を切りに向かった。その後、R2の解析によりレイアがここに監禁されている事が分かり、ルークはソロとチューバッカを説得し救出に向かう。帝国軍の猛追を受けながらも三人はレイアの救出に成功、ファルコン号へと急ぐ。トラクタービームの電源を切り終えてきたオビ＝ワンは、ファルコン号の目前でベイダーと再会、ライトセーバーを交える。ファルコン号へ乗り込もうとするルーク達を見たオビ＝ワンは突然何かを悟ったかのようにライトセーバーを収める。直後、ベイダーのライトセーバーがオビ＝ワンのローブを切り払うが、そこにオビ＝ワンの死体はなかった。<br>
     TIEファイターの追撃を振り切り、ミレニアム・ファルコンはレイア姫の案内で反乱同盟軍の基地のあるヤヴィン第4衛星へたどり着く。デス・スターの設計図からは「反応炉の排熱口が地表に直結している」という構造上の弱点が判明し、その排熱口よりプロトン魚雷を撃ち込んで反応炉を破壊する作戦が立案される。その頃、ファルコン号に追跡装置を仕掛けておいた帝国軍はヤヴィン第4衛星の基地の存在を突き止め、デス・スターの圧倒的な力をもってヤヴィン第4衛星ごと破壊せんとする。ルークはスクランブルする反乱軍の戦闘機隊に加わりパイロットとして戦場へ向かうが、礼金を受け取ったソロとチューバッカは早々に基地を立ち去ろうとする。<br>
     帝国軍と同盟軍の雌雄を賭けた戦いが今始まろうしていた…。
    </p>
   </div>
   <!-- /.paragraph -->

   <div class="paragraph">
    <div class="article_img">
     <img src="http://placehold.it/320x480" alt="">
    </div><!--//article_img-->
    <p>
     STAR WARS EPISODE IV A NEW HOPE<br>
     遠い昔、はるか彼方の銀河系で…<br>
     ジェダイ騎士団と共和国が滅亡して久しい時代、かつて平和だった銀河系は銀河帝国による圧政下にあった。そんな中、反乱同盟軍のスパイが帝国の誇る最終兵器であり宇宙要塞であるデス・スターの極秘設計図を密かに盗み出す事に成功した。銀河帝国皇帝ダース・シディアスが最も信頼を置くシスの暗黒卿ダース・ベイダーは、設計図奪還と同盟軍本拠地の早期発見を命じられる。<br>
     同盟軍の指導者の一人レイア・オーガナ姫はオルデランへ帰還の途上だったが、帝国軍のスターデストロイヤーに襲撃され輸送船は拿捕される。激しい戦闘の最中、レイアは養父の友人のオビ＝ワン・ケノービに助けを求めるべく、ドロイドのR2-D2に救援メッセージとデス・スターの設計図を託し、R2-D2は相棒のC-3POと共に船から脱出する事に成功する。
    </p>
   </div>
   <!-- /.paragraph -->

  </section>

  <div class="article-footer">


   <div class="authority_stamp common_bottom">
    <div class="user_thumb">
     <a data-remodal-target="modal">
      <img src="{{ asset('images/user_default.png') }}">
     </a>
    </div><!--//user_thumb-->
    <p class="name">UserNAME_hammocks</p>
   </div><!--//authority_stamp-->


   <div class="card_infomation common_bottom">

    <p class="brand_name">C&C.P.H.EQUIPEMENT</p><!--//brand_name-->
    <h1 class="card_name">
     <a href="">コンパクトチェアカバー カモ×デニム</a>
    </h1><!--//card_name-->

    <p class="sale_flag button btn_size-S">sale</p>

    <div class="card_status">
     <div class="status_icon set_5p common_bottom">
      <div>
       <img src="{{ asset('images/ico-have-off.svg') }}" type="image/svg+xml">
       <span class="count">100K</span>
      </div>

      <div>
       <img src="{{ asset('images/ico-want-off.svg') }}" type="image/svg+xml">
       <span class="count">100K</span>
      </div>

      <div>
       <a data-remodal-target="ClipToContainer">
        <img src="{{ asset('images/ico-pick-off.svg') }}" type="image/svg+xml">
       </a>
       <span class="count">100K</span>
      </div>

      <div>
       <img src="{{ asset('images/ico-share-off.svg') }}" type="image/svg+xml">
       <span class="count"></span>
      </div>

      <div data-remodal-target="Ban">
       <img src="{{ asset('images/ico-ban-off.svg') }}" type="image/svg+xml">
      </div>
     </div><!--//status_icon-->


     <div class="ratingarea common_bottom">
      <div class="rating">
       <i class="rate_result">
        {% if user_item_info.evaluation_average_path %}
        <img id="thunder_img_icon" src="{{ asset('images/rate/thunder_5set-' ~ user_item_info.evaluation_average_path ~ '.svg') }}" type="image/svg+xml">
        {% else %}
        <img id="thunder_img_icon" src="{{ asset('images/rate/thunder_5set-0-0.svg') }}" type="image/svg+xml">
        {% endif %}
       </i>
       <p id="rate_disp_area">{{ user_item_info.evaluation_average }}<span>THUNDER</span></p>
      </div><!--//rating-->

     </div><!--//ratingarea-->


     <div class="category_nav common_bottom">
      <ul>
       <li>ランタン/照明</li>
       <li>燃料式ランタン</li>
       <li>ガソリンランタン</li>
      </ul>
     </div><!--//category_nav-->

     <div class="tagarea common_bottom">
      <div class="tag_nav">
       <i><img src="{{ asset('images/icon_tag.svg') }}" type="image/svg+xml"></i>
       <ul id="user_item_tag_list">
       <li>tag01</li>
       <li>タグ1</li>
       <li>廻り目平キャンプ場</li>
       <li>犬を連れてキャンプ</li>
       </ul>
      </div><!--//tag_nav-->
     </div><!--//tagarea-->

    </div><!--//card_status-->
   </div><!--//card_infomation-->


  </div><!-- /.article-footer -->

</article>


 <section class="public_comment">
 <h2>関連記事一覧</h2>

  {% embed "partial/common/publicitem-commentlist.twig" %} {% endembed %}
  {% embed "partial/common/publicitem-commentlist.twig" %} {% endembed %}
  {% embed "partial/common/publicitem-commentlist.twig" %} {% endembed %}
  {% embed "partial/common/publicitem-commentlist.twig" %} {% endembed %}
 </section><!--//public_comment-->

</div><!--//article-->
