{% extends "templates/common/user_garage.twig" %}

{% block stylesheets %}{% endblock stylesheets %}
{% block top_js %}{% endblock top_js %}

{% block contents %}
<h2>投稿一覧</h2>

{% include 'partial/common/card/articlecard.twig' %}

{% embed "partial/common/modal/modal-articlepreview.twig" %}
{% endembed %}

 {% embed "partial/common/modal/modal-cliptocontainer.twig" %}
{# {% block ClipToContainer_Contents %}{% endblock ClipToContainer_Contents %} #}
 {% endembed %}

{% endblock contents %}


{% block bottom_js %}
<script src="{{ asset('js/vendor/remodal.min.js') }}" ></script>
<script src="{{ asset('js/list.js') }}" ></script>
<script src="{{ asset('js/modalDetail.js') }}" ></script>
<script src="{{ asset('js/tmpArticleList.js') }}" ></script>
<script src="{{ asset('js/tmpArticleDetail.js') }}" ></script>
<script src="{{ asset('js/tmpContainerList.js') }}" ></script>
<script src="{{ asset('js/pick.js') }}" ></script>
<script>
var list = new List("#tmp_list_2", {
    url : getDomain() + consUrlJs.listPath[2],
    method : "post",
    templete_id : 2,
    users_id : "{{ user_info.id }}",
    is_selfuser : 0
});
list.get();
var modalDetail = new ModalDetail("#tmp_modal_0", {
    url : getDomain() + consUrlJs.modalDetailPath[0],
    templete_id : 0,
    eventElement : ".articleModalBtn",
    eventType : "click",
    dataParamKey : "article_id",
    dataElement : "data-article-id"
});
</script>
{% endblock bottom_js %}
