{% extends "templates/common/user_garage.twig" %}

{% block stylesheets %}{% endblock stylesheets %}
{% block top_js %}{% endblock top_js %}

{% block contents %}


<h2>favorite Containerだ</h2>

  <div class="card_flex templete_list" id="tmp_list_3">
  </div><!--//card_flex-->
  <input type="hidden" id="target_article_id" value="">

{% endblock contents %}


{% block bottom_js %}
<script src="{{ asset('js/list.js') }}" ></script>
<script src="{{ asset('js/tmpContainerList.js') }}" ></script>
<script src="{{ asset('js/pick.js') }}" ></script>
<script>
var list = new List("#tmp_list_3", {
    url : getDomain() + consUrlJs.listPath[3],
    method : "post",
    owner_users_id : "{{ user_info.id }}",
    templete_id : 3,
    isPaging : 0,
    is_selfuser : "{{ self_flag }}",
    container_list_type : 0
});
list.get();
</script>
{% endblock bottom_js %}
