{% extends "templates/common/auth_base.twig" %}

{% block Body_class %}
<body class="auth register">
 {% endblock Body_class %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/pages/register.css') }}" media="all" />
{% endblock stylesheets %}


{% block contents %}

<h2>新規ユーザー登録</h2>

<div class="unit formcontents">
<form method="POST" action="/auth/register">
 {{ csrf_field() }}

 <section class="form_gr common_bottom">

 <span class="inpu_text">
  <label for="input-10" class="titleblock">ユーザー名</label>
  {% if old('name') %}
  <input name="name" value="{{ old('name') }}" type="text" id="name" class="form_size-L">
  {% else %}
  <input name="name" value="{{ user_name }}" type="text" id="name" class="form_size-L">
  {% endif %}
  <p class="error_message">{{ errors.first('name') }}</p>
 </span>

 <span class="inpu_text">
  <label for="email" class="titleblock">メールアドレス</label>
  <input name="email" value="{{ old('email') }}" type="email" id="email" class="form_size-L">

  <p class="error_message">{{ errors.first('email') }}</p>
 </span>

 <span class="inpu_text">
  <label for="password" class="titleblock">パスワード</label>
  <input name="password" type="password" id="password" class="form_size-L">

  <p class="error_message">{{ errors.first('password') }}</p>
 </span>

 <span class="inpu_text">
  <label for="password_confirmation" class="titleblock">パスワード確認</label>
  <input name="password_confirmation" type="password" id="password_confirmation" class="form_size-L">

  <p class="error_message">{{ errors.first('password_confirmation') }}</p>
 </span>

  <div class="common_bottom">
   <a data-remodal-target="Aup" class="button btn_size-M">利用規約</a>
  <p class="">
   <a data-remodal-target="Aup">利用規約</a>をご確認いただき、同意の上ユーザー登録をしてください。<br>
  </p>
  </div><!--//common_bottom-->

   <div class="common_bottom center">
   <input type="checkbox" id="agree" name="agree" class="checkbox">
   <label for="agree">規約に同意する</label>
  </div><!--//common_bottom-->


 <div>
  <button type="submit" id="submit" class="button btn_size-M disable-b">登録</button>
 </div>

  <div class="center">
   <a data-remodal-target="">個人情報の取り扱いに関する基本方針</a>
  </div>

 </section><!--//form_gr-->


 <div class="common_bottom">

  {% embed "partial/common/intermission.twig" %} {% endembed %}

  <a class="button btn_size-M" href="{{url('auth/login')}}">ログイン画面へ</a>

 </div><!--//common_bottom-->

</form>
</div><!--//unit-->



 {% embed "partial/common/modal/modal-aup.twig" %}
 {% endembed %}


{% endblock contents %}


{% block bottom_js %}
 <script src="{{ asset('js/vendor/remodal.min.js') }}" ></script>
 <script src="{{ asset('js/vendor/test/classie.js') }}"></script>
<script src="{{ asset('js/userAuth.js') }}"></script>
<script>
var register = new SignUp();
register.init();
</script>
{% endblock bottom_js %}
