<nav class="gloval_nav">
 <ul>

  <li><a href="{{ url('/') }}">HOME</a></li>
  <li>
    {% if user.id %}
    <a href="{{ url('/user/garage/' ~ user.id) }}">GARAGe</a>
    {% else %}
    <a href="{{ url('/auth/login') }}">GARAGe</a>
    {% endif %}
  </li>
  <li><a href="{{ url('/search/brand') }}">BRAND</a></li>
  <li><a href="{{ url('/search/category') }}">CATEGORY</a></li>

 </ul>
</nav>
