{% extends "templates/common/admin_base.twig" %}

{% block contents %}

<h2>管理画面 ブランド登録・編集</h2>

<div class="formcontents">

{{ errors.first('name') }}
{{ errors.first('name_hiragana') }}
{{ errors.first('name_katakana') }}
{{ errors.first('name_japan') }}
{{ errors.first('name_display') }}
{{ errors.first('brand_img_url') }}

<form method="post" action="/3d5sknzygp/brands-register">


 <div class="common_bottom">
  <label for="name" class="titleblock">ブランド名（半角英語）<span class="annotation">空白不可、半角英語のみ</span></label>
  <input type="text" name="name" class="form_size-L" value="{{ (old('name')) ? old('name') : brands[0].name }}">
  <p class=""></p>
 </div>

 <div class="common_bottom">
  <label for="name_hiragana" class="titleblock">ブランド名（かな）<span class="annotation">空白不可、ひらがなのみ</span></label>
  <input type="text" name="name_hiragana" class="form_size-L" value="{{ (old('name_hiragana')) ? old('name_hiragana') : brands[0].name_hiragana }}">
  <p class=""></p>
 </div>

 <div class="common_bottom">
  <label for="name_katakana" class="titleblock">ブランド名（カナ）<span class="annotation">カタカナのみ</span></label>
  <input type="text" name="name_katakana" class="form_size-L" value="{{ (old('name_katakana')) ? old('name_katakana') : brands[0].name_katakana }}">
  <p class=""></p>
 </div>

 <div class="common_bottom">
  <label for="name_japan" class="titleblock">ブランド名（漢字）</label>
  <input type="text" name="name_japan" class="form_size-L" value="{{ (old('name_japan')) ? old('name_japan') : brands[0].name_japan }}">
  <p class=""></p>
 </div>


 <div class="common_bottom">
  <label for="name_display" class="titleblock">ブランド名（フロント表示用）<span class="annotation">空白不可</span></label>
  <input type="text" name="name_display" class="form_size-L" value="{{ (old('name_display')) ? old('name_display') : brands[0].name_display }}">
  <p class=""></p>
 </div>


 <div class="common_bottom">
  <label for="brand_img_url" class="titleblock">ブランド画像ＵＲＬ</label>
  <input type="text" name="brand_img_url" class="form_size-L" value="{{ (old('brand_img_url')) ? old('brand_img_url') : brands[0].brand_img_url }}">
  <p class=""></p>
 </div>



<input type="hidden" name="id" value="{{ brand_id }}">
<input type="hidden" name="_token" value="{{ csrf_token() }}">
 <input type="submit" value="登録" class="button btn_size-M " />

</form>

</div><!--//formcontents-->


{% endblock contents %}
