{% extends "templates/common/admin_base.twig" %}

{% block contents %}
<h2>管理画面 管理者登録</h2>

<div class="formcontents">
{{ errors.first('name') }}
{{ errors.first('email') }}
{{ errors.first('password') }}

<form method="post" action="{{ url(path_prefix~'/user-register') }}">


 <div class="common_bottom">
  <label for="acountname" class="titleblock">アカウント名<span class="annotation">6文字以上、半角英数字のみ,ユニーク</span></label>
  <input type="text" name="acountname" class="form_size-L" value="{{ old('name') }}">
  <p class=""></p>
 </div>

 <div class="common_bottom">
  <label for="email" class="titleblock">メールアドレス<span class="annotation">ドメインは@initialsite.comオンリー</span></label>
  <input type="email" name="email" class="form_size-L" value="{{ old('email') }}">
  <p class=""></p>
 </div>


 <div class="common_bottom">
  <label for="password" class="titleblock">パスワード<span class="annotation">空白不可、6文字以上、半角英数字、ハイフン許可</span></label>
  <input type="text" name="password" class="form_size-L" value="">
  <p class=""></p>
 </div>


<input type="hidden" name="_token" value="{{ csrf_token() }}">
 <input type="submit" value="登録" class="button btn_size-M"/>


</form>
</div><!--//formcontents-->
 {% endblock contents %}
