{% spaceless %}
{% include 'templates/const.twig' %}
<!DOCTYPE html>
<html lang="ja">
 <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>hammocks|{% block title %}hammocks管理画面{% endblock %}</title>
  {% include 'templates/common/lib/meta.twig' %}
  {% block link %}{% endblock %}
  {% include 'templates/common/lib/css.twig' %}
  <link rel="stylesheet" href="{{ asset('css/pages/admin.css') }}" media="all" />
  {% block stylesheets %}{% endblock %}
  {% block top_js %}{% endblock %}
 </head>


 {% block Body_class %}
 <body class="{{ route_class }} admin">
 {% endblock Body_class %}

    <div class="fakeloader"></div>
  <article class="container" id="container">
   {% block header %}
   <header class="header">
    <div class="header_wrap">

    <nav class="gloval_nav">
     <ul>
      <li><a href="{{url(path_prefix~'/user-register')}}">管理者登録</a></li>
      <li><a href="{{url(path_prefix~'/item-list')}}">マスターアイテム一覧</a></li>
      <li><a href="{{url(path_prefix~'/brands-register')}}">ブランド登録</a></li>
     </ul>
    </nav>


    <a href="{{url(path_prefix~'/logout')}}" class="">ログアウト</a>
    </div><!--//header_wrap-->
   </header>
   {% endblock header %}


   <div class="contents">
    {% block contents %} {% endblock %}
   </div><!--//contents-->




  </article><!--//container-->


  {% block bottom_js %}{% endblock %}

 </body>
</html>
{% endspaceless %}
