{% spaceless %}
{% include 'templates/const.twig' %}
<!DOCTYPE html>
<html lang="ja">
 <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>hammocks|{% block title %}アウトドアギア{% endblock %}</title>

  {% include 'templates/common/lib/meta.twig' %}
  {% block metadescription %}
  <meta name="description" content="hammocksは自分の持っているキャンプ、アウトドアのギアを管理して、いらなくなったギアは欲しい人に販売！！自分の欲しいものを見つけたら購入できるサービスです。">
  {% endblock %}

  {% include 'templates/common/lib/ogp.twig' %}
  {% block ogp %}
  <meta property="og:title" content="ogpのタイトル. <title>と文章も文字数も同じにする。"/>
  <meta property="og:description" content="hammocksは自分の持っているキャンプ、アウトドアのギアを管理して、いらなくなったギアは欲しい人に販売！！自分の欲しいものを見つけたら購入できるサービスです。" />
  <meta property="og:image" content="http://ogimage.tsmallfield.com/img/ogp_1200x630.png" />
  <meta property="og:url" content="http://dev.thehammocks.camp/" />
  {% endblock %}


  {% include 'templates/common/lib/link.twig' %}
  {% block link %}{% endblock %}

  {% include 'templates/common/lib/css.twig' %}
  {% block stylesheets %}{% endblock %}

  {% include 'templates/common/lib/analyticstracking.twig' %}

  <script src="{{ asset('js/jquery-2.1.4.min.js') }}"></script>
  <script src="{{ asset('js/device.js')  }}"></script>
  <script src="{{ asset('js/vendor/createjs-2015.11.26.min.js') }}" ></script>
  <script src="{{ asset('js/vendor/particlejs.min.js') }}" ></script>
  <script src="{{ asset('js/firewood.js') }}" ></script>

  {% block top_js %}{% endblock %}
 </head>


 {% block Body_class %}
 <body class="{{ route_class }}">
 {% endblock Body_class %}

  <div class="fakeloader"></div>
  <article class="container" id="container">


   <header class="header">
    <div class="header_wrap">

     <a href="javascript:history.back();" class="history_back">
      go back to the forest</a>

     <div class="fixed_menu">
     <div class="settingmenu">
      <a data-remodal-target="Gnav-ErrorPage">
       <img src="{{ asset('images/menu.svg') }}" type="image/svg+xml">
      </a>
     </div><!-- //drawer -->
     </div>

    </div><!--//header_wrap-->
   </header>


   <div class="contents">
    <div class="background"></div>

    {% block contents %}{% endblock %}

    <div class="fire_palce">

     <div class="firewraper">
      <canvas class="" width="960" height="640" id="bonfire"></canvas>
      <div class="firewood">
       <img src="{{ asset('images/firewood.svg') }}" type="image/svg+xml">
      </div><!--//firewood-->
     </div><!--//firewraper-->

    </div><!--//fire_palce-->
   </div><!--//contents-->


   {% include 'partial/pc/footer.twig' %}

  </article><!--//container-->


  <div class="remodal" data-remodal-id="Gnav-ErrorPage" data-remodal-options="hashTracking:false">

   <button data-remodal-action="close" class="remodal-close"></button>


   <section class="settingmenu_panel">
    <h1></h1>

    <nav class="normal_menulist">
     <ul class="">
      <li><a href="{{ url('/') }}">HOME</a></li>
      <li><a href="{{ url('/search/brand') }}">BRAND</a></li>
      <li><a href="{{ url('/search/category') }}">CATEGORY</a></li>
      <li><a href="javascript:history.back();">一つ前のページへ戻る</a></li>
     </ul>
    </nav>

   </section>

   <div class="modalbtn_set">
    <button data-remodal-action="cancel" class="button btn_size-M reset_cancell-b">閉じる</button>
   </div><!--//modalbtn_set-->
  </div><!-- //remodal -->



  <script src="{{ asset('js/jquery-2.1.4.min.js') }}"></script>
  <script src="{{ asset('js/common.js')  }}"></script>
  <script src="{{ asset('js/urlConst.js')  }}"></script>

  <script>
   function getDomain() {
    return "{{ url('/') }}";
   }
   function getStoragePath() {
    return "{{ storage_url }}";
   }
  </script>
  <script src="{{ asset('js/vendor/fakeLoader.min.js') }}" ></script>
  <script>
   console.log('[fakeloader]');
   $(".fakeloader").fakeLoader({
    timeToHide:3400,//アイコンが表示される時間(ミリ秒)
    bgColor:"#ffffff",
    zIndex:"9999",//zIndexの値
    spinner:"spinner2",//ローディングアイコンの種類'spinner1', 'spinner2', 'spinner3', 'spinner4', 'spinner5', 'spinner6',
    //imagePath:"https://ticksy_avatars.s3.amazonaws.com/9304787172.gif"
   });
  </script>


  <script src="{{ asset('js/vendor/remodal.min.js') }}" ></script>

  <!-- sliderスクリプト -->
  <script type="text/javascript">
   $(document).ready(function() {

    $(document).on("click", ".slide_down", function() {
     console.log('[slide_btn]');
     $(this).toggleClass("open");
     $(this).next().slideToggle();
    });

   });
  </script>


  {% block bottom_js %} {% endblock %}

 </body>
</html>
{% endspaceless %}
