<label for="demo" id="post_code_label" class="titleblock">郵便番号</label>
<input type="text" name="zip01" class="form_size-L setting_tab1" id="post_code" onKeyUp="AjaxZip3.zip2addr(this,'','pref01','addr01');" name="postal-code" autocomplete="postal-code" value="{{ user_info.secret_profile.post_code }}">
<div class="error" id="post_code_error"></div>

<label for="demo" id="prefecture_label" class="titleblock">都道府県</label>
<select name="pref01" class="selectform setting_tab1" id="prefecture">
 <option value="">-- 選択してください --</option>
 {% for prefeture in prefectures %}
 <option value="{{ prefeture.id }}" {% if prefeture.id == user_info.secret_profile.prefecture_id %}selected="selected"{% endif %}>{{ prefeture.name }}</option>
 {% endfor %}
</select>
<div class="error" id="prefecture_error"></div>

<!-- ▼住所入力フィールド(都道府県以降の住所) -->
<label for="demo" class="titleblock" id="city_label">市区町村番地など</label>
<input type="text" name="addr01" class="form_size-L setting_tab1" name="address-level2" id="city"  autocomplete="address-level2" value="{{ user_info.secret_profile.city }}">
<div class="error" id="city_error"></div>

<label for="demo" class="titleblock" id="address_label">ビル・建物名</label>
<input type="text" id="address" placeholder="" class="form_size-L setting_tab1" id="address" name="address-line1" autocomplete="address-line1" value="{{ user_info.secret_profile.address }}">
<div class="error" id="address_error"></div>
