<div class="inpu_text" id="brand-wrap" class="comon_layout">
 <label for="brandname" class="titleblock">ブランド検索</label>
 <input type="text" id="brandname" class="form_size-L" autocomplete="off">
<p class="error_message">{{ errors.first('brand_id') }}</p>
 <p class="set_brand">選択中のブランド：<span id="change-select-brand">{{ params.brand_name }}</span>
 <input type="hidden" id="brand-name-hidden" name="brand_name" value="{{ params.brand_name }}" >
</div><!--//inpu_text-->

<input type="checkbox" class="checkbox" id="brand-other" value="{{ other_brand_id }}" name="brand_other" {% if brand_other %}checked="checked"{% endif %}>
<label for="brand-other">上記にないブランド</label>


<input type="hidden" id="brand-id" name="brand_id" value="{{ params.brand_id }}">
