{% spaceless %}
{% include 'templates/const.twig' %}
<!DOCTYPE html>
<html lang="ja">
 <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %}
   hammocks ここにページのタイトル
   {% endblock %}</title>
  <meta name="author" content="hammocks">
  <meta name="description" content="{% block description %}hammocksは自分の持っているキャンプ、アウトドアのギアを管理して、いらなくなったギアは欲しい人に販売！！自分の欲しいものを見つけたら購入できるサービスです。{% endblock %}">
  <meta name="format-detection" content="telephone=no,address=no,email=no">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />

  <meta property="og:type" content="website"/>
  <meta property="og:title" content="ogpのタイトル. <title>と文章も文字数も同じにする。"/>
  <meta property="og:description" content="hammocksは自分の持っているキャンプ、アウトドアのギアを管理して、いらなくなったギアは欲しい人に販売！！自分の欲しいものを見つけたら購入できるサービスです。" />
  <meta property="og:image" content="http://ogimage.tsmallfield.com/img/ogp_1200x630.png" />
  <meta property="og:url" content="http://dev.thehammocks.camp/" />
  <meta property="og:site_name" content="hammocks"/>
  <meta content="summary" name="twitter:card" />
  <meta content="@twitter_acount" name="twitter:site" />

  <meta name="robots" content="noindex,nofollow">


  {% block meta %}{% endblock %}

  <link rel="publisher" href="//plus.google.com/00000000000">
<!--  <link rel="canonical" href="http://hammocks.com">-->
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  <link rel="apple-touch-icon" href="{{ asset('favicon.ico') }}">
  <link rel="alternate" type="application/rss+xml" href="/feed">

  <link rel="stylesheet" href="{{ asset('css/vendor/fakeLoader.css') }}" media="all" />
  <link rel="stylesheet" href="{{ asset('css/style.css') }}" media="all" />
  {% block stylesheets %}{% endblock %}

  {% block top_js %}{% endblock %}

 </head>


 {% block Body_class %}
 <body class="{{ route_class }}">
 {% endblock Body_class %}

    <div class="fakeloader"></div>
  <article id="barba-wrapper" class="container" id="container">

   {% include 'partial/pc/header.twig' %}

   <div class="barba-container contents">
    {% block contents %} {% endblock %}
   </div><!--//contents-->

   {% include 'partial/pc/footer.twig' %}

  </article><!--//container-->


  <script src="{{ asset('js/jquery-2.1.4.min.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.2.0/imagesloaded.pkgd.js"></script>
  <script src="{{ asset('js/common.js')  }}"></script>
  <script src="{{ asset('js/urlConst.js')  }}"></script>
  <script src="{{ asset('js/paging.js') }}" ></script>
  <script src="{{ asset('js/img-resize.js') }}" ></script>

  <script>
   function getDomain() {
    return "{{ url('/') }}";
   }
   function getStoragePath() {
    return "{{ storage_url }}";
   }
  </script>
  <script src="{{ asset('js/vendor/fakeLoader.min.js') }}" ></script>
  <script>
   console.log('[fakeloader]');
   $(".fakeloader").fakeLoader({
    timeToHide:3400,//アイコンが表示される時間(ミリ秒)
    bgColor:"#ffffff",
    zIndex:"9999",//zIndexの値
    spinner:"spinner2",//ローディングアイコンの種類'spinner1', 'spinner2', 'spinner3', 'spinner4', 'spinner5', 'spinner6',
    //imagePath:"https://ticksy_avatars.s3.amazonaws.com/9304787172.gif"
   });
</script>




  {% block bottom_js %} {% endblock %}
 </body>
</html>
{% endspaceless %}
