{% extends "templates/common/base.twig" %}

{% block Body_class %}
<body class="{{ route_class }} sale">
 {% endblock Body_class %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/pages/item_sale.css') }}" media="all" />
<link rel="stylesheet" href="{{ asset('css/vendor/owl.theme.css') }}" media="all" />
{% endblock stylesheets %}

{% block top_js %}{% endblock top_js %}


{% block contents %}


<section class="item_card">

 <div class="card_visual common_bottom">
  <ul class="pic owl-carousel " data-slider-id="1">
   <li class="squarebox"><img class="img_resize" src="{{ asset('images/test_box/boxtest01.jpg') }}"></li>
   <li class="squarebox"><img class="img_resize" src="{{ asset('images/test_box/boxtest12.jpg') }}"></li>
   <li class="squarebox"><img class="img_resize" src="{{ asset('images/test_box/boxtest03.jpg') }}"></li>
   <li class="squarebox"><img class="img_resize" src="{{ asset('images/test_box/boxtest04.jpg') }}"></li>
   <li class="squarebox"><img class="img_resize" src="{{ asset('images/test_box/boxtest05.jpg') }}"></li>
  </ul><!--//pic-->
 </div><!--//card_visual-->


 <div class="master_infomation common_bottom">
  <p class="brand_name">Brnd Name</p><!--//brand_name-->
  <h1 class="card_name"><a href="{{ url('/public/item/comment/1') }}">Card Title</a></h1><!--//card_name-->
  <div class="card_status">
   {% block status_icon %}
   <div class="status_icon set_6p common_bottom">


    <div>
     <img src="{{ asset('images/ico-want-off.svg') }}" type="image/svg+xml">
     <span class="count">100K</span>
    </div>

    <div>
     <a data-remodal-target="ClipToContainer">
      <img src="{{ asset('images/ico-watch-off.svg') }}" type="image/svg+xml">
     </a>
     <span class="count">100K</span>
    </div>

    <div>
     <a data-remodal-target="CommentList">
      <img src="{{ asset('images/ico-comment-off.svg') }}" type="image/svg+xml">
     </a>
     <span class="count">100K</span>
    </div>

    <div>
     <img src="{{ asset('images/ico-share-off.svg') }}" type="image/svg+xml">
     <span class="count"></span>
    </div>

    <div>
     <img src="{{ asset('images/ico-ban-off.svg') }}" type="image/svg+xml">
    </div>

   </div><!--//status_icon-->
   {% endblock %}

   <div class="pricearea common_bottom">
    <p class="price"><span>19800</span></p>
   </div><!--//pricearea-->

   <div class="description common_bottom">
    <p>
     MacBook Air 2010モデル<br>
     スペック:<br>
     画面11インチ<br>
     プロセッサ： Intel core2 1.6ghz<br>
     メモリ：4GB<br>
     容量：128GB SSD<br>
     充放電133回<br>
     リセット済み、アップル本来のソフト以外入ってません。<br>
<br>
     付属品:<br>
     ACアダプタ、延長コード、箱、説明書、リカバリー用usb<br>
     <br>
     傷:<br>
     目立つ傷ありません。使用回数も少なく、とても綺麗です。<br>
     <br>
     お願い<br>
     ①基本お支払いの翌日に発送させていただきます。支払い後すぐに発送を求める方は発送日時をコメントでお問い合わせをお願い致します。<br>
     <br>
     ②運賃やすいの方法で発送しますので、郵送方法を指定したい方はご購入前にコメントをください。<br>
     <br>
     ③厳しく点検してから出品しますが、どうしても至らないところがあると思いますので、到着後商品に対して何か不満があれば、返品の対応をします。なお、取引完成後の返金、返品は対応できませので、予めご了承ください。<br>
     <br>
     ④いいねをしていただき、ありがとうございます！<br>
     いいねを求めてませんので、コメントください。^ - ^<br>
     <br>
     よろしくお願い致します。
    </p>
   </div><!--//description-->

   <div class="sale_info common_bottom">
    <div class="item_info common_bottom">
    <dl>
     <dt>商品の状態</dt>
     <dd>新品、未使用</dd>
    </dl>
    </div><!--//item_info-->

    <div class="addcart common_bottom">
     <a class="cartbtn" href="{{ url('payment/confirm/1') }}">
     <img src="{{ asset('images/ico-cart.svg') }}" type="image/svg+xml">
     </a>
    </div><!--//addcart-->

    <div class="shipping_info">
     <i><img src="{{ asset('images/ico-shipping.svg') }}" type="image/svg+xml"></i>
     <span class="clearfix"></span>

     <dl>
      <dt>送料</dt>
      <dd>全国一律850円(北海道・沖縄は1,400円)</dd>

      <dt>発送方法</dt>
      <dd>宅急便（ヤマト運輸）</dd>

      <dt>海外発送</dt>
      <dd>対応しません</dd>

      <dt>発送元</dt>
      <dd>大阪府</dd>

      <dt>発送日までの日数</dt>
      <dd>入金を確認してから1～2日で発送</dd>
     </dl>
    </div><!--//shipping_info-->


   </div><!--//sale_info-->

  </div><!--//card_status-->
 </div><!--//master_infomation-->


 <div class="user_info">
  <div class="authority_stamp">
   <div class="user_thumb">
    <a data-remodal-target="modal">
     <img src="{{ asset('images/user_default.png') }}">
    </a>
   </div><!--//user_thumb-->
   <p class="name">User_NameUser_NameUser_NameUser_NameUser_NameUser_NameUser_Name</p>
  </div><!--//authority_stamp-->

  <div class="user_rating">
   <div>
    <img src="{{ asset('images/ico-sale.svg') }}" type="image/svg+xml"><br>
    <span>出品数</span><br>
    <span>100K</span>
   </div>

   <div>
    <a data-remodal-target="UserRating">
     <img src="{{ asset('images/ico-user_rating-good.svg') }}" type="image/svg+xml">
    </a><br>
    <span>問題なし</span><br>
    <span>100K</span>
   </div>

   <div>
    <a data-remodal-target="UserRating">
     <img src="{{ asset('images/ico-user_rating-bad.svg') }}" type="image/svg+xml">
    </a><br>
    <span>問題あり</span><br>
    <span>100K</span>
   </div>
  </div><!--//user_rating-->

 </div><!--//user_info-->

</section><!--//item_card-->


 <h3>その他の出品一覧</h3>
<div class="card_flex">
 {% include 'partial/common/develop/card/saleItem.twig' %}
 {% include 'partial/common/develop/card/saleItem.twig' %}
 {% include 'partial/common/develop/card/saleItem.twig' %}
 {% include 'partial/common/develop/card/saleItem.twig' %}
 {% include 'partial/common/develop/card/saleItem.twig' %}
</div><!--//card_flex-->


{% embed "partial/common/modal/modal-cliptocontainer.twig" %}
{# {% block ClipToContainer_Contents %}{% endblock ClipToContainer_Contents %} #}
{% endembed %}

{% embed "partial/common/modal/modal-comment.twig" %}
{# {% block Comment_Contents %}{% endblock Comment_Contents %} #}
{% endembed %}


 {% embed "partial/common/modal/modal-userrating.twig" %} {% endembed %}

{% endblock contents %}


{% block bottom_js %}
<script src="{{ asset('js/vendor/remodal.min.js') }}" ></script>
<script src="{{ asset('js/owl.carousel.js') }}" ></script>
<script src="{{ asset('js/Owlcarousel2Thumbs.min.js') }}" ></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script src="{{ asset('js/tag-it.min.js') }}" ></script>



<script>

 $(function(){
  $(document).ready(function(){
   $('.owl-carousel').owlCarousel({
    autoplay: false,
    autoplayHoverPause: true,
    autoplayTimeout: 3000,
    autoplaySpeed: 1000,
    loop: false,
    items: 1,
    thumbs: true,
    thumbImage: true,
    thumbsPrerendered: true,
    thumbContainerClass: 'owl-thumbs',
    thumbItemClass: 'owl-thumb-item'
   });
  });


  var sampleTags = ['c++', 'java', 'php', 'coldfusion', 'javascript', 'asp', 'ruby', 'python', 'c', 'scala', 'groovy', 'haskell', 'perl', 'erlang', 'apl', 'cobol', 'go', 'lua'];

  $('#tag-it').tagit({
   placeholderText:"タグをつけよう",
   availableTags: sampleTags,
   allowSpaces: true,
   itemName: 'item',
   ieldName: 'tags',
  });


   $('#tab-menu li').on('click', function(){
    if($(this).not('active')){
     // タブメニュー
     $(this).addClass('active').siblings('li').removeClass('active');
     // タブの中身
     var index = $('#tab-menu li').index(this);
     $('#tab-box .tab_content').eq(index).addClass('active').siblings('.tab_content').removeClass('active');
    }
   });

 });
</script>

<script>
 $(window).load(function(){
  $('.owl-thumb-item img').resize();
 });

</script>

{% endblock bottom_js %}
