{% extends "templates/common/master_item_base.twig" %}
{% block title %}アウトドアギア{{ item_info.brand_name }}:{{ item_info.name }}の写真一覧{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/pages/master_item.css') }}" media="all" />
{% endblock %}

{% block top_js %}{% endblock %}

{% block contents %}

{% embed "partial/common/masteritemNav.twig" %} {% endembed %}


<h2 class="title">{{ item_info.brand_name }}<br>{{ item_info.name }}</h2>

{% include 'partial/common/card/articlecard.twig' %}

{% embed "partial/common/modal/modal-articlepreview.twig" %}
{% endembed %}

 {% embed "partial/common/modal/modal-cliptocontainer.twig" %}
{# {% block ClipToContainer_Contents %}{% endblock ClipToContainer_Contents %} #}
 {% endembed %}

{% endblock %}


{% block bottom_js %}
<script src="{{ asset('js/vendor/remodal.min.js') }}" ></script>
<script src="{{ asset('js/list.js') }}" ></script>
<script src="{{ asset('js/modalDetail.js') }}" ></script>
<script src="{{ asset('js/tmpArticlePhotoList.js') }}" ></script>
<script src="{{ asset('js/tmpArticleDetail.js') }}" ></script>
<script src="{{ asset('js/tmpContainerList.js') }}" ></script>
<script src="{{ asset('js/pick.js') }}" ></script>
<script>
function isSelfUser() {
    return 0;
}
var list = new List("#tmp_list_2", {
    url : getDomain() + consUrlJs.listPath[2],
    method : "post",
    templete_id : 8,
    items_id : "{{ item_info.items_id }}",
    is_selfuser : 0
});
list.get();
var modalDetail = new ModalDetail("#tmp_modal_0", {
    url : getDomain() + consUrlJs.modalDetailPath[0],
    templete_id : 0,
    eventElement : ".articleModalBtn",
    eventType : "click",
    dataParamKey : "article_id",
    dataElement : "data-article-id"
});
</script>
{% endblock bottom_js %}
