<section class="card">
 <a href="{{url('user/item/1')}}">
 <div class="pic squarebox">
   <img class="img_resize" src="http://placehold.it/500x500">
 </div><!--//pic-->
 </a>
 <div class="card_infomation">
  <p class="brand_name">Brnd Name</p><!--//brand_name-->
  <h1 class="card_name">Card Title</h1><!--//card_name-->
  <div class="card_status">
   {% block status_icon %}
   <div class="status_icon">

    <div>
     <img src="{{ asset('images/menu.svg') }}" type="image/svg+xml">
     <span class="count">100K</span>
    </div>

    <div>
     <img src="{{ asset('images/menu.svg') }}" type="image/svg+xml">
     <span class="count">100K</span>
    </div>

    <div>
     <img src="{{ asset('images/menu.svg') }}" type="image/svg+xml">
     <span class="count">100K</span>
    </div>

    <div>
     <img src="{{ asset('images/menu.svg') }}" type="image/svg+xml">
    </div>

   </div><!--//status_icon-->
   {% endblock %}

   <div class="gear_rating">
    <i class="rate_on"><img src="{{ asset('images/rate_thunder-on.svg') }}" type="image/svg+xml"></i>
    <i class="rate_off"><img src="{{ asset('images/rate_thunder-off.svg') }}" type="image/svg+xml"></i>
    <i class="rate_off"><img src="{{ asset('images/rate_thunder-off.svg') }}" type="image/svg+xml"></i>
    <i class="rate_off"><img src="{{ asset('images/rate_thunder-off.svg') }}" type="image/svg+xml"></i>
    <i class="rate_off"><img src="{{ asset('images/rate_thunder-off.svg') }}" type="image/svg+xml"></i>
    <p>3.7<span>THUNDER</span></p>
   </div>



   <div class="description">
    <p>
     バス釣りとライフスタイルを融合させ、アングラーのデイリーウエアをファッションとして確立させた「バスブリゲード」とのコラボ第2弾。今回はプレミアムクオリティのボディを使ったTシャツが登場。
    </p>
   </div><!--//description-->

   <div class="authority_stamp">
    <div class="user_thumb">
     <img src="{{ asset('images/user_default.png') }}">
    </div><!--//user_thumb-->
    <p class="name">User_NameUser_NameUser_NameUser_NameUser_NameUser_NameUser_Name</p>
   </div><!--//authority_stamp-->

   <div class="category_nav">
    <ul>
     <li>ランタン/照明</li>
     <li>燃料式ランタン</li>
     <li>ガソリンランタン</li>
    </ul>
   </div><!--//category_nav-->

   <div class="tag_nav">
    <i><img src="{{ asset('images/icon_tag.svg') }}" type="image/svg+xml"></i>
    <ul>
     <li><a>道志の森キャンプ場</a></li>
     <li><a>Tシャツ</a></li>
     <li><a>CAMP</a></li>
     <li><a>お洒落キャンプ</a></li>
     <li><a>ヴィンテージ</a></li>
    </ul>
   </div><!--//tag_nav-->


  </div><!--//card_status-->
 </div><!--//infomation-->
</section><!--//card-->
