
<div class="masteritemNav">
 <ul>

  <li class="active_base">
   <a href="{{ url('/master/item/'~ item_info.items_id) }}">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
    <path d="M39,32.142a.39.39,0,0,0-.565,0L37.3,33.272,25.027,12.115l-.565-1.05.767-1.332a.416.416,0,0,0-.727-.4l-.525.888-.485-.929a.416.416,0,0,0-.727.4l.727,1.332-12.8,22.288L9.563,32.182A.4.4,0,0,0,9,32.748l1.534,1.534c.04.04.081.04.121.081h.04c.04,0,.081.04.121.04H37.22a.148.148,0,0,0,.121-.04h.04c.04,0,.081-.04.121-.081l1.534-1.534A.488.488,0,0,0,39,32.142ZM23.371,12.963l.2-.363v3.109h-.4a.4.4,0,0,0,0,.808h.4v.808h-.4a.4.4,0,0,0,0,.808h.4v.808h-.4a.4.4,0,0,0,0,.808h.4v.808h-.4a.4.4,0,0,0,0,.808h.4v.808h-.4a.4.4,0,0,0,0,.808h.4v.808h-.4a.4.4,0,0,0,0,.808h.4V25.4h-.4a.4.4,0,0,0,0,.808h.4v.808h-.4a.4.4,0,0,0,0,.808h.4v.888l-2.746,4.724H11.46ZM21.756,33.555l2.221-3.836L26.2,33.555Zm5.37,0-2.746-4.764V27.9h.4a.4.4,0,1,0,0-.808h-.4v-.808h.4a.4.4,0,0,0,0-.808h-.4v-.808h.4a.4.4,0,0,0,0-.808h-.4v-.808h.4a.4.4,0,0,0,0-.808h-.4v-.808h.4a.4.4,0,0,0,0-.808h-.4v-.808h.4a.4.4,0,1,0,0-.808h-.4v-.808h.4a.4.4,0,0,0,0-.808h-.4V16.6h.4a.4.4,0,1,0,0-.808h-.4V12.64L36.494,33.6H27.126Z"/>
    </svg>
   </a><br>
   <span>base</span><br>
   <span></span>
  </li>

  <li class="active_rating">
   <a href="{{ url('/master/item/rating/'~ item_info.items_id) }}">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
    <path d="M14.281,40.7l9.275-15.729h-5.2L23.772,10.75h8.789l-5.323,8.768,6.562-.327Zm5.525-16.729h5.5L20.1,32.8,31.434,20.31l-6.03.3,5.38-8.861H24.461Z"/>
    </svg>
   </a><br>
   <span>rating</span><br>
   <span>{{ item_info.evaluation_count }}</span>
  </li>

  <li class="active_photo">
   <a href="{{ url('/master/item/photo/'~ item_info.items_id) }}">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
    <path d="M47.513,33.391H45.24L36.129,21.24a.515.515,0,0,0-.8,0l-2.508,3.345L24.739,13.8a.515.515,0,0,0-.8,0l-5.417,7.224c-.007.006-.015.008-.022.014a.485.485,0,0,0-.085.128l-1.5,2-2.6-3.468a.515.515,0,0,0-.8,0L3.259,33.391H.487a.5.5,0,0,0,0,.995H47.513a.5.5,0,0,0,0-.995ZM24.341,14.929l4.585,6.115-2.174,2.174-2.4-2.4a.5.5,0,0,0-.7,0L21.32,23.152l-1.8-1.8Zm-10.417,5.9L16.3,23.994l-7.046,9.4H4.5ZM10.5,33.391,18.92,22.159l2.048,2.048a.5.5,0,0,0,.7,0L24,21.875l2.4,2.4a.5.5,0,0,0,.7,0l2.425-2.425,8.655,11.543Zm28.928,0-5.981-7.977,2.285-3.047L44,33.391Z" />
    </svg>
   </a><br>
   <span>photo</span><br>
   <span>{{ item_info.article_count }}</span>
  </li>

  <li class="active_sale">
   <a href="{{ url('/master/item/sale/'~ item_info.items_id) }}">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
    <g>
    <path d="M17.473,27.016,18.58,25.1,21.3,26.684l-.508-1.328c-.177-.461-1.764-4.53-3.221-5.5-1.405-.675-5.658-.012-6.138.065l-1.376.222,2.686,1.57-1.3,2.111a2.515,2.515,0,0,0-.014,2.554l4.233,7.541,2.21-.06,5.782.016.018-6.842Zm-2.781,3.141L12.3,25.877a1.524,1.524,0,0,1,0-1.532l1.827-2.979-1.111-.649a11.59,11.59,0,0,1,4.058.006c.642.43,1.543,2.125,2.214,3.63l-1.072-.626-3.2,5.549A4.093,4.093,0,0,0,14.693,30.156Zm7.968,2.715-4.782-.013a1.863,1.863,0,0,1-1.565-.891l-.017-.025a1.787,1.787,0,0,1-.091-1.818l1.228-2.109,5.24.014Z"/>
    <path d="M36.657,24.112a2.958,2.958,0,0,0-.051-.356l0-.027,0,.006a3.291,3.291,0,0,0-.235-.64s-1.425-2.554-2.6-4.61l-.248-.433-5.971,3.4,3.175,5.592-2.133-.051.008-3.094L27.7,24.99c-.318.389-3.105,3.845-3.11,5.528,0,1.525,2.56,4.88,3.075,5.538l.89,1.137.008-3.119,2.483.007a2.573,2.573,0,0,0,2.242-1.243l3.673-6.551Zm-3.514-4.7c1.112,1.951,2.337,4.147,2.337,4.146a2,2,0,0,1-.005,1.852,1.72,1.72,0,0,1-1.545.963l-2.444-.007-2.578-4.541Zm-.714,12.916a1.578,1.578,0,0,1-1.376.748l-3.483-.009,0,1.167c-.969-1.376-1.974-3.025-1.972-3.717,0-.759,1.016-2.4,1.992-3.738l0,1.188,6.25.151a3.272,3.272,0,0,0,1.042-.107Z"/>
    <path d="M31.42,14.192a9.855,9.855,0,0,0-.819-1.323A2.727,2.727,0,0,0,29.591,11.8h0l-.005,0c-.046-.028-.1-.041-.147-.067-.416-.217-1.539-.909-1.64-.905l-6.859-.017a2.669,2.669,0,0,0-2.181,1.333c-.626.935-3.037,5.125-3.14,5.3l-.247.431,5.887,3.437.252-.432c.1-.171,1.606-2.756,2.883-4.961l.989,1.848-2.776,1.513,1.441.234a27.1,27.1,0,0,0,3.831.352,4.91,4.91,0,0,0,2.339-.4c1.423-.808,3.038-5,3.217-5.47l.519-1.374ZM20.9,19.943l-4.165-2.431c.648-1.119,2.369-4.087,2.878-4.853a1.7,1.7,0,0,1,1.367-.854l4.715.013a3.256,3.256,0,0,0-.494.686C24.627,13.543,21.771,18.449,20.9,19.943Zm8.806-1.331c-.534.334-2.34.285-3.991.113l1.019-.555L25.323,15.53c.528-1.072,1.171-2.139,1.181-2.156a1.9,1.9,0,0,1,1.622-.991,1.818,1.818,0,0,1,1.6.97l.048.077a11.664,11.664,0,0,1,.785,1.293l-1.148.709h2.073l.076-.15.359-.222C31.244,16.575,30.348,18.248,29.707,18.612Z"/>
    </g>
    </svg>
   </a><br>
   <span>sale</span><br>
   <span>{{ item_info.sale_count }}</span>
  </li>

 </ul>
</div><!--//publicitemNav-->
