<div class="profileNav">

 <ul>

  <li>
   <a href="{{ url('/user/garage/log/' ~ user_info.id) }}">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="proficoncolor">
    <path d="M31.368,23.5h0l8.676-8.676a3.541,3.541,0,0,0,.891-3.15,6.167,6.167,0,0,0-1.779-3.329c-2.031-2.031-4.938-2.43-6.479-.889l-4.691,4.691h0L8.954,31.175h0L6.948,33.18a3.541,3.541,0,0,0-.89,3.15,6.167,6.167,0,0,0,1.779,3.329,6.167,6.167,0,0,0,3.329,1.779,4.626,4.626,0,0,0,.72.058,3.356,3.356,0,0,0,2.43-.948l2.01-2.01h0l4.908-4.908L24,30.863h0ZM37.97,13.1a.607.607,0,0,1,0,.858L29.9,22.03l-.229.229a.591.591,0,0,1-.256.144.561.561,0,0,1-.6-.144.6.6,0,0,1-.144-.6.591.591,0,0,1,.144-.256l.229-.229L37.111,13.1A.607.607,0,0,1,37.97,13.1ZM36.4,10.385a.607.607,0,0,1,.858.858l-4.113,4.113a.607.607,0,0,1-.858-.858Zm-12.59,9.37L24.859,18.7l.429-.429.429-.429L33.57,9.991a.607.607,0,0,1,.858.858L26.575,18.7l-.429.429-.429.429-.783.783-.269.269a.6.6,0,0,1-.22.137.6.6,0,0,1-.639-1ZM12.684,30.306l5.379-5.379.429-.429.429-.429.858-.858.429-.429.429-.429.45-.45a.607.607,0,0,1,.858.858l-.688.688a.552.552,0,0,1-.383.383l-1.1,1.1-.429.429-.429.429-5.379,5.379a.607.607,0,1,1-.858-.858Zm.774,9.384h0c-1.068,1.068-3.2.669-4.762-.889s-1.957-3.694-.889-4.762h0a2.187,2.187,0,0,1,1.586-.6,4.711,4.711,0,0,1,3.177,1.487C14.127,36.485,14.526,38.621,13.458,39.689Zm1.193-6.237a.607.607,0,0,1-.429-1.036l2.11-2.11a.607.607,0,0,1,.858.858l-2.11,2.11A.605.605,0,0,1,14.651,33.452ZM22.2,29.734l-5.83,5.83a.607.607,0,1,1-.858-.858l5.83-5.83a.607.607,0,0,1,.858.858Zm.082-3.516-.6.6-.429.429-.429.429-1.088,1.088a.607.607,0,0,1-.858-.858l1.088-1.088.429-.429.429-.429L23.285,23.5l.429-.429.429-.429L25,21.779l.429-.429.429-.429.608-.608.429-.429.429-.429,2.239-2.239a.607.607,0,0,1,.858.858l-2.239,2.239-.429.429-.429.429-.608.608-.429.429-.429.429L25,23.5l-.429.429-.429.429-1.069,1.069Zm1.384,1.191a.6.6,0,0,1-.1-.7.592.592,0,0,1,.1-.154l.3-.3L25,25.212l.429-.429.429-.429.271-.271a.607.607,0,0,1,.858.858l-.271.271-.429.429-.429.429-1.037,1.037-.3.3a.593.593,0,0,1-.154.1.58.58,0,0,1-.7-.1Z"/>
    <path d="M41.052,33.18l-9.121-9.121-1.462,1.462,5.606,5.606a.607.607,0,0,1-.858.858L29.61,26.38l-.858.858.527.527a.607.607,0,1,1-.858.858l-.527-.527-1.037,1.037,4.819,4.819a.607.607,0,0,1-.858.858L26,29.992l-1.435,1.435,9.121,9.121a3.356,3.356,0,0,0,2.431.948,4.63,4.63,0,0,0,.72-.058,6.5,6.5,0,0,0,5.107-5.108A3.541,3.541,0,0,0,41.052,33.18Zm-7.583.26a.6.6,0,0,1-.549-.166l-2.11-2.11a.61.61,0,0,1,.865-.86l2.11,2.11a.607.607,0,0,1-.316,1.025ZM39.305,38.8c-1.558,1.558-3.694,1.957-4.763.889s-.669-3.2.889-4.763,3.694-1.956,4.762-.888S40.863,37.243,39.305,38.8Z"/>
    <path d="M16.07,22.933l1.721-1.721L10.5,13.924a.607.607,0,1,1,.858-.858l7.288,7.288L19.4,19.6,17.727,17.93a.607.607,0,1,1,.858-.858l1.673,1.673.859-.859-7.5-7.5a.607.607,0,0,1,.858-.858l7.5,7.5,1.462-1.462L15.324,7.452a3.543,3.543,0,0,0-3.15-.89A6.165,6.165,0,0,0,8.845,8.341c-2.031,2.031-2.43,4.938-.889,6.479ZM10.9,10.24a.607.607,0,0,1,.858,0l4.113,4.113a.607.607,0,0,1-.858.858L10.9,11.1A.607.607,0,0,1,10.9,10.24Z"/>
    <path d="M37.633,34.369a3.309,3.309,0,0,0-2.617,2.617,1.968,1.968,0,0,0,.5,1.729,1.889,1.889,0,0,0,1.356.531,2.368,2.368,0,0,0,.373-.03A3.309,3.309,0,0,0,39.863,36.6a1.865,1.865,0,0,0-2.23-2.23Zm1.031,2.041a2.1,2.1,0,0,1-1.608,1.607.664.664,0,0,1-.841-.841,2.1,2.1,0,0,1,1.607-1.608,1.2,1.2,0,0,1,.188-.015.685.685,0,0,1,.494.175A.8.8,0,0,1,38.664,36.409Z"/>
    <path d="M10.51,34.512a1.964,1.964,0,0,0-1.729.5h0a1.969,1.969,0,0,0-.5,1.729A3.309,3.309,0,0,0,10.9,39.359a2.359,2.359,0,0,0,.373.03,1.89,1.89,0,0,0,1.356-.531h0a1.969,1.969,0,0,0,.5-1.729,3.309,3.309,0,0,0-2.617-2.617ZM11.768,38h0a.8.8,0,0,1-.682.16,2.1,2.1,0,0,1-1.607-1.607.8.8,0,0,1,.16-.682h0a.684.684,0,0,1,.493-.175,1.2,1.2,0,0,1,.188.015,2.1,2.1,0,0,1,1.608,1.608A.8.8,0,0,1,11.768,38Z"/>
    </svg>
   </a><br>
   <span>log</span><br>
   <span>{{ user_info.log_count }}</span>

  </li>

  <li>
   <a href="{{ url('/user/garage/evaluation_good/' ~ user_info.id) }}">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="proficoncolor">
    <g>
    <path d="M15.682,11.956a.384.384,0,0,1-.381.574H12.812a.384.384,0,0,1-.382-.574l1.385-3.305c.131-.316.349-.316.481,0Z"/>
    <path d="M3.542,24.1a.384.384,0,0,0,.574-.381V21.226a.384.384,0,0,0-.574-.381L.237,22.23c-.316.132-.316.349,0,.481Z"/>
    <path d="M7.771,31.055a.384.384,0,0,0,.137-.675l-1.76-1.76a.384.384,0,0,0-.675.136L4.114,32.072c-.13.316.023.47.34.34Z"/>
    <path d="M22.64,16.185a.384.384,0,0,1-.675.137l-1.76-1.76a.384.384,0,0,1,.136-.675l3.316-1.358c.317-.13.47.023.341.34Z"/>
    <path d="M5.472,16.185a.384.384,0,0,0,.675.137l1.76-1.76a.384.384,0,0,0-.136-.675L4.455,12.529c-.317-.13-.47.023-.341.34Z"/>
    <path d="M39.994,23.57a7.7,7.7,0,0,0-1.2.093,9.892,9.892,0,0,0-18.779-1.157c-.093,0-.186-.008-.278-.008a5.608,5.608,0,0,0-5.565,5,6.119,6.119,0,0,0,1.354,12.085H40.095a8.008,8.008,0,0,0-.1-16.016Z"/>
    <path d="M19.862,19.564A11.47,11.47,0,0,1,21.2,18,8.424,8.424,0,1,0,9.1,29.28a7.586,7.586,0,0,1,1.256-1.487"/>
    </g>
    </svg>

   </a><br>
   <span>rating</span><br>
   <span>{{ user_info.evaluation_count }}</span>
  </li>

  <li>
   <a href="{{ url('/user/garage/followers/' ~ user_info.id) }}">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="proficoncolor">
    <g>
     <rect x="14.15" y="38.55" width="9.314" height="2.373"/>
     <polygon points="14.15 33.938 14.15 38.486 23.738 28.897 17.947 28.897 25.669 21.175 21.808 21.175 26.732 16.25 23.464 12.982 28.12 12.982 18.807 3.668 9.493 12.982 14.15 12.982 4.836 22.296 11.821 22.296 0.179 33.938 14.15 33.938" />
     <polygon points="48 37.52 38.347 27.867 44.139 27.867 36.417 20.145 40.278 20.145 32.556 12.422 24.833 20.145 28.694 20.145 20.972 27.867 26.764 27.867 17.111 37.52 28.694 37.52 28.694 43.311 36.417 43.311 36.417 37.52 48 37.52" />
    </g>
    </svg>

   </a><br>
   <span>follower</span><br>
   <span id="follower_count_area">{{ user_info.follower_count }}</span>
  </li>


  <li>
   <a href="{{ url('/user/garage/follows/' ~ user_info.id) }}">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="proficoncolor">
     <g>
      <polygon points="44 36.5 31.5 24 39 24 29 14 34 14 24 4 14 14 19 14 9 24 16.5 24 4 36.5 19 36.5 19 44 29 44 29 36.5 44 36.5"/>
     </g>
    </svg>
   </a><br>
   <span>follow</span><br>
   <span id="follow_count_area">{{ user_info.follow_count }}</span>
  </li>

 </ul>

</div><!--//status_icon-->
