<section class="usercard">


  <div class="user_thumb">
   <a data-remodal-target="modal">
    <img src="{{ asset('images/user_default.png') }}">
   </a>
  </div><!--//user_thumb-->

 <div class="card_infomation">

  <p class="name">User_NameUser</p>

  <div class="card_status">
   {% block status_icon %}
   <div class="status_icon">
    <div>
     <img src="{{ asset('images/ico-have-off.svg') }}" type="image/svg+xml">
     <span class="count">100K</span>
    </div>
    <div>
     <img src="{{ asset('images/ico-want-off.svg') }}" type="image/svg+xml">
     <span class="count">100K</span>
    </div>
    <div>
     <img src="{{ asset('images/ico-pick-off.svg') }}" type="image/svg+xml">
     <span class="count">100K</span>
    </div>
    <div>
     <img src="{{ asset('images/ico-sale.svg') }}" type="image/svg+xml">
     <span class="count">100K</span>
    </div>
   </div><!--//status_icon-->
   {% endblock %}
  </div><!--//card_status-->

 </div><!--//infomation-->

 <div class="followbtn">
  <img src="{{ asset('images/ico-feed-off.svg') }}" type="image/svg+xml">
 </div><!-- /.followbtn -->

</section><!--//card-->

