{% extends "templates/common/sale_register.twig" %}

{% block Body_class %}
<body class="{{ route_class }} sale_register">
 {% endblock Body_class %}

 {% block stylesheets %}
 {% endblock stylesheets %}

 {% block top_js %}{% endblock top_js %}

 {% block contents %}
 <h2>出品ギア情報登録</h2>

 {% embed "partial/common/progressbar.twig" %}
 {% block Step %}
 <li class="active">
  <span class="bubble"></span>
  Step 1.
 </li>

 <li class="">
  <span class="bubble"></span>
  <i class="fa fa-check-circle"></i>
  Step 2.
 </li>

 <li class="">
  <span class="bubble"></span>
  <i class="fa fa-check-circle"></i>
  Step 3.
 </li>

 <li class="">
  <span class="bubble"></span>
  <i class="fa fa-check-circle"></i>
   Step 4.
  </li>
 {% endblock Step %}
 {% endembed %}

 <div class="textcontents unit">
  <div class="formcontents">
   <div class="form_gr common_bottom">
    <h3>出品する商品のこと</h3>

    <form id="sale_register_step1">

     <div class="pictselect">
      <p class="titleblock required">画像を選択</p>
      <div id="my-awesome-dropzone" class="dropzone">
       <span>
        <i class="fa fa-image"></i>
       </span>
      </div><!--//my-awesome-dropzone-->

      <div id="my-preview-dropzone" class="dropzone"></div>
      <input type="hidden" id="multi_id" name="items_id" value="{{ items.items_id }}" />

      <input type="hidden" value="0" name="pict-ok" id="pict-ok">
      <input type="hidden" value="{{ upload_type }}" name="upload-type" id="upload-type">
      <input type="hidden" value="4" id="max_files">
     </div><!--//pictselect-->


    <label class="titleblock">商品説明</label>
    <textarea id="item-description" class="form_size-L comon_layout" name="item_description" cols=40 rows=8>{{ post_data.item_description }}</textarea>

    <label for="demo" class="titleblock">商品の状態</label>
    <select name="item_condition" class="selectform" id="item_condition">
     <option value="">---</option>
     {% for item_condition in item_conditions %}
        {% if post_data.item_condition == item_condition.id %}
            <option value="{{ item_condition.id }}" selected="selected">{{ item_condition.name }}</option>
        {% else %}
            <option value="{{ item_condition.id }}">{{ item_condition.name }}</option>
        {% endif %}
     {% endfor %}
    </select>
    </form>

   </div><!--//form_gr-->
  </div><!-- /.formcontents -->

  <p class="button btn_size-M disable-b" id="regist-ok">次へ</p>


 </div><!--//textcontents-->
 {% endblock contents %}
 {% block bottom_js %}
<script src="{{ asset('js/dropzone.js') }}"></script>
<script src="{{ asset('js/imageUploader.js') }}"></script>
<script src="{{ asset('js/itemSaleRegisterStep1.js') }}"></script>

 {% endblock bottom_js %}
