{% extends "templates/common/sale_register.twig" %}

{% block Body_class %}
<body class="{{ route_class }} sale_register">
 {% endblock Body_class %}

 {% block stylesheets %}{% endblock stylesheets %}

 {% block top_js %}{% endblock top_js %}

 {% block contents %}
 <h2>出品ギア情報登録</h2>

 {% embed "partial/common/progressbar.twig" %}
 {% block Step %}
 <li class="completed">
  <span class="bubble"></span>
  <i class="fa fa-check-circle"></i>
  Step 1.
 </li>

 <li class="active">
  <span class="bubble"></span>
  Step 2.
 </li>

 <li class="">
  <span class="bubble"></span>
  <i class="fa fa-check-circle"></i>
  Step 3.
 </li>

 <li class="">
  <span class="bubble"></span>
  <i class="fa fa-check-circle"></i>
  Step 4.
 </li>
 {% endblock Step %}
 {% endembed %}

 <div class="textcontents unit">

  <div class="formcontents">
   <div class="form_gr common_bottom">
    <h3>配送のこと</h3>
    <form id="sale_register_step2">
    <label for="demo" class="titleblock">配送料の負担</label>
    <select name="delivery_pattern" class="selectform" id="delivery_pattern">
     <option value="">---</option>
     <option value="0" {% if post_data.delivery_pattern == 0 %}selected="selected"{% endif %}>着払い(購入者負担)</option>
     <option value="1" {% if post_data.delivery_pattern %}selected="selected"{% endif %}>送料込み(出品者負担)</option>
    </select>

    <label for="demo" class="titleblock">発送方法</label>
    <select name="delivery_company" class="selectform" id="delivery_company">
     <option value="">---</option>
     {% for company in delivery_company %}
        <option value="{{ company.id }}" {% if company.id == post_data.delivery_company %}selected="selected"{% endif %}>{{ company.name }}</option>
     {% endfor %}
    </select>

    <label for="demo" class="titleblock">発送元</label>
    <select name="prefecture" class="selectform" id="prefecture">
     <option value="">---</option>
     {% for prefecture in prefectures %}
     <option value="{{ prefecture.id }}" {% if prefecture.id == post_data.prefecture %}selected="selected"{% endif %}>{{ prefecture.name }}</option>
     {% endfor %}
    </select>

    <label for="demo" class="titleblock">発送日までの日数</label>
    <select name="delivery_day_nums" class="selectform" id="delivery_day_nums">
     <option value="">---</option>
     {% for key, delivery_day_num in delivery_day_nums %}
        <option value="{{ key }}" {% if key == post_data.delivery_day_nums %}selected="selected"{% endif %}>{{ delivery_day_num }}</option>
     {% endfor %}
    </select>

   </div><!--//form_gr-->
  </div><!-- /.formcontents -->

  <p class="button btn_size-M disable-b" id="regist-ok">次へ</p>
  </form>
 </div><!--//textcontents-->
 {% endblock contents %}


 {% block bottom_js %}
<script src="{{ asset('js/itemSaleRegisterStep2.js') }}"></script>
 {% endblock bottom_js %}
