{% extends "templates/common/register_base.twig" %}
{% block Body_class %}
<body class="{{ route_class }} article">
 {% endblock Body_class %}

{% block stylesheets %}
 <link href="{{ asset('css/vendor/dropzone.css') }}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{{ asset('css/pages/article.css') }}" media="all" />
{% endblock stylesheets %}

{% block top_js %}{% endblock top_js %}

{% block contents %}
<div class="article_register">

 <form id="article-register-form">
 <input type="hidden" name="items_id" value="{{ items.items_id }}">
 <h2>{{ items.name }}の記事投稿</h2>

  <div class="textcontents unit">

  <div class="form_gr common_bottom">
   <div class="paragraph_input">

  {% include 'partial/common/input/pict-select.twig' %}

   <label class="titleblock">内容記入</label>
   <textarea id="item-description" class="form_size-L comon_layout" name="item_description" cols=40 rows=8>{{ old('item_description') }}</textarea>
   <p class="error_message">{{ errors.first('item_description') }}</p>

   </div><!-- /.paragraph_input -->
  </div><!-- /form_gr -->

   <div class="form_gr common_bottom">
  {% include 'partial/common/input/tag-select.twig' %}
   </div>

  <div>
   <p class="button btn_size-S" id="regist_btn">投稿</p>
  </div>

 </div><!--//textcontents-->




 </form>
</div><!--//register-->
{% endblock contents %}


{% block bottom_js %}
<script src="{{ asset('js/vendor/remodal.min.js') }}" ></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script src="{{ asset('js/tag-it.min.js') }}" ></script>
<script src="{{ asset('js/dropzone.js') }}"></script>
<script src="{{ asset('js/articleRegister.js') }}" ></script>
<script src="{{ asset('js/imageUploader.js') }}" ></script>

<script>
  window.addEventListener("beforeunload", function (e) {
  var confirmationMessage = "入力内容を破棄します。";
  e.returnValue = confirmationMessage;
  return confirmationMessage;
 });
</script>
{% endblock bottom_js %}
