<a href="#" id="UserMenu-btn" class="">
 <div class="user_thumb">
  <img src="{{ asset('images/user_default.png') }}">
  <div class="badge"><span></span></div>
 </div><!--//user_thumb-->
</a>

<div id="UserMenu" class="UserMenu_panel panl_theme">
 <ul>

  <li><a href="{{ url('/user/garage/' ~ user.id) }}">My GARAGe</a></li>
  <li><a href="{{ url('/item/register') }}">アイテム登録</a></li>
  <li>メッセージ</li>
  <li><a href="{{ url('/user/watching') }}">ウォッチリスト</a></li>
  <li><a href="{{ url('/user/archive/sales') }}">出品リスト</a></li>
  <li><a href="{{ url('/user/archive/purchase') }}">購入リスト</a><div class="badge"><span>1</span></div></li>
  <li><a href="{{ url('/user/setting') }}">アカウント設定</a></li>
  <li><a href="{{ url('/user/setting/sales') }}">売上管理</a></li>
  <li><a href="{{ url('/auth/logout') }}">ログアウト</a></li>

 </ul>
</div><!--//panel2-->
