{% extends "templates/common/user_garage.twig" %}

{% block stylesheets %}{% endblock stylesheets %}
{% block top_js %}{% endblock top_js %}

{% block contents %}

<div class="usr_description">
 <p>
  {{ user_info.comment }}
 </p>
</div><!--//description-->

<div class="tabmenu" id="tab-menu">
 <ul>
  <li class="active"><em class="follow_type_li" id="follow_type_log">Followsの投稿</em></li>
  <li><em class="follow_type_li" id="follow_type_sale">Followsのtrend</em></li>
 </ul>

{% include 'partial/common/card/multicard.twig' %}

</div><!-- /.tab-menu -->

{% embed "partial/common/modal/modal-articlepreview.twig" %}
{% endembed %}

<!--//ギア評価-->
{% embed "partial/common/modal/modal-itemedit-rate.twig" %}
{% endembed %}

 {% embed "partial/common/modal/modal-cliptocontainer.twig" %}
{# {% block ClipToContainer_Contents %}{% endblock ClipToContainer_Contents %} #}
 {% endembed %}

{% endblock contents %}


{% block bottom_js %}
<script src="{{ asset('js/list.js') }}" ></script>
<script src="{{ asset('js/multiList.js') }}" ></script>
<script src="{{ asset('js/modalDetail.js') }}" ></script>
<script src="{{ asset('js/tmpArticleList.js') }}" ></script>
<script src="{{ asset('js/tmpSaleItemList.js') }}" ></script>
<script src="{{ asset('js/tmpArticleDetail.js') }}" ></script>
<script src="{{ asset('js/tmpContainerList.js') }}" ></script>
<script src="{{ asset('js/pick.js') }}" ></script>
<script>
var list = new MultiList("#tmp_list_multi", {
    url : getDomain() + consUrlJs.listPath[2],
    templete_id : 2,
    method : "post",
    follower_users_id : "{{ user_info.id }}"
},
{
    // マルチテンプレートパターンオプション
    event_elem : ["#follow_type_log", "#follow_type_sale"],
    event_type : ["click", "click"],
    url_list : [getDomain() + consUrlJs.listPath[2],  getDomain() + consUrlJs.listPath[1]],
    templete_ids : [2, 1],
    param1_keys : "is_store",
    param1_values : [null, 1]
});
list.get();
var modalDetail = new ModalDetail("#tmp_modal_0", {
    url : getDomain() + consUrlJs.modalDetailPath[0],
    templete_id : 0,
    eventElement : ".articleModalBtn",
    eventType : "click",
    dataParamKey : "article_id",
    dataElement : "data-article-id"
});
</script>
{% endblock bottom_js %}
