{% extends "templates/common/guide_base.twig" %}

{% block title %}
{{ user_item_info.brand_name }} {{ user_item_info.item_name }}の投稿記事一覧
{% endblock %}

{% block metadescription %}
<meta name="description" content="{{ user_item_info.brand_name }} {{ user_item_info.item_name }}の投稿一覧">
{% endblock %}

{% block ogp %}
<meta property="og:title" content="hammocks|{{ user_item_info.brand_name }} {{ user_item_info.item_name }}の投稿記事一覧"/>
<meta property="og:description" content="{{ user_item_info.brand_name }} {{ user_item_info.item_name }}の投稿記事一覧" />
<meta property="og:image" content="{{ storage_url }}{{ log_info.img_url }}" />
<meta property="og:url" content="http://dev.thehammocks.camp/" />
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/pages/item.css') }}" media="all" />
{% endblock stylesheets %}

{% block top_js %}{% endblock top_js %}


{% block contents %}

<div class="gear_article">

 {% include 'partial/common/article_header.twig' %}

 {% include 'partial/common/article.twig' %}

 {% include 'partial/common/article_footer.twig' %}

</div><!--//gear_article-->


 {% embed "partial/common/modal/modal-cliptocontainer.twig" %}
{# {% block ClipToContainer_Contents %}{% endblock ClipToContainer_Contents %} #}
 {% endembed %}

<!--//違反報告-->
{% embed "partial/common/modal/modal-ban.twig" %}
{% endembed %}

<!--//ギア評価-->
{% embed "partial/common/modal/modal-itemedit-rate.twig" %}
{% endembed %}

<!--//SNSshare-->
{% embed "partial/common/modal/modal-share.twig" %}
{% endembed %}

<!--//Log編集-->
{% embed "partial/common/modal/modal-edit-log.twig" %}
{% endembed %}
{% embed "partial/common/modal/modal-edit-log-comment.twig" %}
{% endembed %}

{% endblock contents %}


{% block bottom_js %}
<script>
function getUserItemId() {
    return "{{ user_item_info.user_item_id }}";
}
function getOwnerUserId() {
    return "{{ user_item_info.user_id }}";
}
function getLoginUserId() {
    return "{{ user.id }}";
}
</script>
<script src="{{ asset('js/vendor/remodal.min.js') }}" ></script>
<script src="{{ asset('js/img-resize.js') }}" ></script>
<script src="{{ asset('js/list.js') }}" ></script>
<script src="{{ asset('js/tmpTimeline.js') }}" ></script>
<script src="{{ asset('js/tmpContainerList.js') }}" ></script>
<script src="{{ asset('js/itemRate.js') }}" ></script>
<script src="{{ asset('js/pick.js') }}" ></script>
<script src="{{ asset('js/banReport.js') }}" ></script>
<script src="{{ asset('js/logEdit.js') }}" ></script>
<script>
var list = new List("#tmp_list_4", {
    url : getDomain() + consUrlJs.listPath[4],
    method : "post",
    owner_users_id : "{{ user_item_info.user_id }}",
    user_items_id : "{{ user_item_info.user_item_id }}",
    templete_id : 4,
    pagingType : "button",
    pagingEventElement : "#loading_btn",
    pagingEventType : "click"
});
list.get();
</script>

<script src="{{ asset('js/vendor/jquery.autoexpand.js') }}" ></script>
<script>
 $(function(){
  $('.autotext').autoExpand(
   {
    //animationTime: 0,
    //windowPadding: 100
   }
  );
 });
</script>
{% endblock bottom_js %}
