{% extends "templates/common/master_item_base.twig" %}
{% block title %}アウトドアギア{{ item_info.brand_name }}:{{ item_info.name }}の基本情報{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/pages/master_item.css') }}" media="all" />
{% endblock stylesheets %}

{% block contents %}


<section class="item_card">

 <div class="card_visual common_bottom">

 <div class="pic squarebox">
  <img class="img_resize" src="{{ storage_url }}{{ item_info.public_img }}">
 </div><!--//pic-->
  {% if item_info.img_site_url %}
  <a class="quotes text-overflow" href="{{ item_info.img_site_url }}" target="_blank"><span>画像引用元:</span>{{ item_info.img_site_url }}</a>
  {% endif %}
 </div><!--//card_visual-->



 <div class="master_infomation">
  <p class="brand_name"><a href="{{ url('search/brand/select/' ~ item_info.brands_id) }}">{{ item_info.brand_name }}</a></p><!--//brand_name-->
  <h1 class="card_name">{{ item_info.name }}</h1><!--//card_name-->
  <form method="post" action="{{ url(path_prefix~'/item-name-edit/'~item_info.items_id) }}">
  <input type="text" name="name" value="{{ item_info.name }}">
  <input type="hidden" name="_token" value="{{ csrf_token() }}">
  <input type="submit" value="ギア名更新">
  </form>
  <div class="card_status">

   <div class="description common_bottom">
    <p>
     {{ item_info.description|nl2br }}
    </p>
      <form method="post" action="{{ url(path_prefix~'/item-description-edit/'~item_info.items_id) }}">
      <textarea name="description"  cols=40 rows=16>{{ item_info.description|nl2br }}</textarea>
      <input type="hidden" name="_token" value="{{ csrf_token() }}">
       <input type="submit" value="説明文更新">
      </form>
    {% if item_info.status %}
    <p>公開中</p>
    {% else %}
    <p><a href="{{ url(path_prefix~'/item-status-up/'~item_info.items_id) }}">このギアを公開承認する</a></p>
    {% endif %}
   </div><!--//description-->


   {% embed "partial/common/category_nav.twig" %}
   {% block CateList %}

   <li>
    <a href="{{ url('search/select/category/' ~ item_info.category_id) }}">{{ item_info.category_name }}</a>
   </li>
   <li>
    <a href="{{ url('search/select/genre/' ~ item_info.genre_id) }}">{{ item_info.genre_name }}</a>
   </li>

   {% if item_info.genre_second_name is not null %}
   <li>
    <a href="{{ url('search/select/genre_second/' ~ item_info.genre_second_id) }}">{{ item_info.genre_second_name }}</a>
   </li>
   {% endif %}

   {% endblock CateList %}
   {% endembed %}


  </div><!--//card_status-->
 </div><!--//master_infomation-->

<div class="clearfix"></div>

</section><!--//item_card-->

<!--//SNSshare-->

{% endblock contents%}


{% block bottom_js %}
<script src="{{ asset('js/vendor/remodal.min.js') }}" ></script>
<script type="text/javascript">
 function getItemsId() {
  return {{ item_info.items_id }};
 }
 $(".squarebox").enable_onload_for_images();
</script>
{% endblock bottom_js %}
