{% extends "templates/common/admin_base.twig" %}

{% block contents %}
<h2>管理画面 マスターアイテム一覧</h2>

<div class="formcontents">

 <form method="get" action="{{ url(path_prefix~'/item-list') }}" class="common_bottom" >
<div class="common_bottom">
 <input type="radio" id="status01" name="status" value="1" class="radiobtn" >
 <label for="status01">公開済み</label>
 <input type="radio" id="status02" name="status" value="0" class="radiobtn" >
 <label for="status02">非公開</label>
 </div>


 <div class="common_bottom">
 <label for="id" class="titleblock">アイテムID</label>
  <input type="text" name="id" class="form_size-L"  value="">
 </div>

  <div class="common_bottom center">
   <input type="submit" value="再検索" id="research" class="button btn_size-M">
  </div>
</form>

 <div class="itemlist">
  <ul>
   {% for item in items %}
   <li>
    <a href="{{ url(path_prefix~'/item-register/'~item.id) }}" target="_blank">
     <span class="brand">{{ item.brand_name }}</span> : {{ item.name }}
    </a>
   </li>
   {% endfor %}

  </ul>
 </div><!--//itemlist-->


 <div class="paginationwrap">
  {{ items.links()|raw }}
 </div>

</div><!--//formcontents-->
{% endblock contents %}
