{% extends "templates/common/base.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/pages/brand.css') }}" media="all" />
{% endblock stylesheets %}


{% block contents %}

 <h2 class="title">BRAND</h2>



<div class="brand_sarch filters">

 <input type="radio" value="brand_card" id="group-ALL" name="BrandCate">
 <label class="msnybutton" for="group-ALL">ALL</label>

 <input type="radio" value="group-A" id="group-A" name="BrandCate">
 <label class="msnybutton" for="group-A">A</label>

 <input type="radio" value="group-B" id="group-B" name="BrandCate">
 <label class="msnybutton" for="group-B">B</label>

 <input type="radio" value="group-C" id="group-C" name="BrandCate">
 <label class="msnybutton" for="group-C">C</label>

 <input type="radio" value="group-D" id="group-D" name="BrandCate">
 <label class="msnybutton" for="group-D">D</label>

 <input type="radio" value="group-E" id="group-E" name="BrandCate">
 <label class="msnybutton" for="group-E">E</label>

 <input type="radio" value="group-F" id="group-F" name="BrandCate">
 <label class="msnybutton" for="group-F">F</label>

 <input type="radio" value="group-G" id="group-G" name="BrandCate">
 <label class="msnybutton" for="group-G">G</label>

 <input type="radio" value="group-H" id="group-H" name="BrandCate">
 <label class="msnybutton" for="group-H">H</label>

 <input type="radio" value="group-I" id="group-I" name="BrandCate">
 <label class="msnybutton" for="group-I">I</label>

 <input type="radio" value="group-J" id="group-J" name="BrandCate">
 <label class="msnybutton" for="group-J">K</label>

 <input type="radio" value="group-K" id="group-K" name="BrandCate">
 <label class="msnybutton" for="group-K">K</label>

 <input type="radio" value="group-L" id="group-L" name="BrandCate">
 <label class="msnybutton" for="group-L">L</label>

 <input type="radio" value="group-M" id="group-M" name="BrandCate">
 <label class="msnybutton" for="group-M">M</label>

 <input type="radio" value="group-N" id="group-N" name="BrandCate">
 <label class="msnybutton" for="group-N">N</label>

 <input type="radio" value="group-O" id="group-O" name="BrandCate">
 <label class="msnybutton" for="group-O">O</label>

 <input type="radio" value="group-P" id="group-P" name="BrandCate">
 <label class="msnybutton" for="group-P">P</label>

 <input type="radio" value="group-Q" id="group-Q" name="BrandCate">
 <label class="msnybutton" for="group-Q">Q</label>

 <input type="radio" value="group-R" id="group-R" name="BrandCate">
 <label class="msnybutton" for="group-R">R</label>

 <input type="radio" value="group-S" id="group-S" name="BrandCate">
 <label class="msnybutton" for="group-S">S</label>

 <input type="radio" value="group-T" id="group-T" name="BrandCate">
 <label class="msnybutton" for="group-T">T</label>

 <input type="radio" value="group-U" id="group-U" name="BrandCate">
 <label class="msnybutton" for="group-U">U</label>

 <input type="radio" value="group-V" id="group-V" name="BrandCate">
 <label class="msnybutton" for="group-V">V</label>

 <input type="radio" value="group-W" id="group-W" name="BrandCate">
 <label class="msnybutton" for="group-W">W</label>

 <input type="radio" value="group-X" id="group-X" name="BrandCate">
 <label class="msnybutton" for="group-X">X</label>

 <input type="radio" value="group-Y" id="group-Y" name="BrandCate">
 <label class="msnybutton" for="group-Y">Y</label>

 <input type="radio" value="group-Z" id="group-Z" name="BrandCate">
 <label class="msnybutton" for="group-Z">Z</label>

 <input type="radio" value="group-OTher" id="group-Other" name="BrandCate">
 <label class="msnybutton" for="group-Other">Ohter</label>

 </div>




<div id="masonry" class="card_flex">

{% for key, brand in brands %}
 <section class="brand_card group-{{ key }}">
  <div class="item-content">
  <h3 class="initial">{{ key }}</h3>
  <ul class="brand_list">
  {% for b in brand %}
   <li>
   <a href="{{ url('/search/brand/select/' ~ b.id )}}">{{ b.name }}</a>
    {% if b.count %}<span>{{ b.count }}</span>{% endif %}
    </li>
  {% endfor %}
  </ul>
  </div>
 </section><!--//brand_card-->
 {% endfor %}
</div><!--//card_flex-->
{% endblock contents %}

{% block bottom_js %}
 <script src="{{ asset('js/masonry.pkgd.js') }}" ></script>
<script src="{{ asset('js/vendor/multipleFilterMasonry.js') }}" ></script>


<script>
 var j$ = jQuery,
     $mContainer = j$("#masonry"),
     $filterButton = j$(".msnybutton"),

     $params = {
   columnWidth: 373,
   itemSelector:".brand_card",
   fitWidth:true,
   filtersGroupSelector:".filters"
   //resize:false,//ウインドウサイズが変更されたときにレイアウトの調整を行うかどうか
   //percentPosition: true,//グリッド配置をパーセント指定にするかどうか
     };

 j$(window).load(function() {
  $mContainer.multipleFilterMasonry($params);
  $mContainer.find(".brand_card").animate({
   "opacity":1
  }, 1200);

 });

</script>

<script>
 'use strict';
 var searchWrapper = document.querySelector('.search-wrapper'), searchInput = document.querySelector('.search-input');
 document.addEventListener('click', function (e) {
  if (~e.target.className.indexOf('search')) {
   searchWrapper.classList.add('focused');
   searchInput.focus();
  } else {
   searchWrapper.classList.remove('focused');
  }
 });
</script>
{% endblock bottom_js %}
