{% extends "templates/common/base.twig" %}
{% block title %}アウトドアギアで「{{ tags.tag_text }}」なものたち{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/pages/selected_item.css') }}" media="all" />
{% endblock stylesheets %}


{% block contents %}

 <h2 class="title">{{ tags.tag_text }}</h2>

{% include 'partial/common/card/articlecard.twig' %}
<input type="hidden" id="tags_id" value="{{ tags.id }}">

<!--Modal set //-->
{% embed "partial/common/modal/modal-articlepreview.twig" %}
{% endembed %}

{% embed "partial/common/modal/modal-cliptocontainer.twig" %}
{% endembed %}

{% embed "partial/common/modal/modal-share.twig" %}
{% endembed %}

{% embed "partial/common/modal/modal-ban.twig" %}
{% endembed %}

{% embed "partial/common/modal/modal-edit-article.twig" %}
{% endembed %}
<!--//-->


{% endblock contents %}


{% block bottom_js %}
<script src="{{ asset('js/vendor/remodal.min.js') }}" ></script>
<script src="{{ asset('js/list.js') }}" ></script>
<script src="{{ asset('js/modalDetail.js') }}" ></script>
<script src="{{ asset('js/tmpArticleList.js') }}" ></script>
<script src="{{ asset('js/tmpArticleDetail.js') }}" ></script>
<script>
function isSelfUser() {
    return 0;
}
var list = new List("#tmp_list_2", {
    url : getDomain() + consUrlJs.listPath[2],
    templete_id : 2,
    tags_id : "{{ tags.id }}"
});
list.get();
var modalDetail = new ModalDetail("#tmp_modal_0", {
    url : getDomain() + consUrlJs.modalDetailPath[0],
    templete_id : 0,
    eventElement : ".articleModalBtn",
    eventType : "click",
    dataParamKey : "article_id",
    dataElement : "data-article-id"
});
</script>
{% endblock bottom_js %}
